# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
.Python

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/